.container {
  position: relative;
  z-index: 1;
}
/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* Estilo para las celdas de encabezado */
th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 8px;
}

/* Estilo para las celdas de datos */
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Estilo para el hover */
tr:hover {
  background-color: #e2e2e2;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-abierto {
  display: block;
}

.modal-contenido {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-contenido h2 {
  margin-top: 0;
}

.modal-contenido form {
  margin-bottom: 0;
}

.modal-contenido label,
.modal-contenido input,
.modal-contenido textarea {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.modal-contenido button[type="submit"] {
  margin-top: 10px;
}

.modal-contenido form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botones-modal button {
  margin-right: 10px; /* Ajusta el valor del margen según tus necesidades */
}
